.job{
    min-height: 90vh;
    border-bottom: 1px solid #dee2e6;
}
.job .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .job .container .job-box {
    margin-top: 120px;
    display:flex;
    flex-direction: column;
    margin-left:10%;
    margin-right:10%;
  }
  
  .job-img{
    object-fit:contain;
    max-height:400px;
    max-width:80%;
    width: auto;
  }

.bullet{
    list-style-type:disc !important;
}
.job-name{
    font-weight: bold;
}
.job-company{
    font-weight: bold;
}
.job-duration{
    font-style: italic;
}
.job-container{
    display:flex;
    flex-direction: column;
    margin-left:10%;
    margin-right:10%;
}
.title-text{
    font-size: 30px;
    font-weight: bold;
    text-align:center;
}