
<div class="knowledge-container">
    <h1 class="section-title mb-4">Skills</h1>
    <div class="mb-5 pb-4 left-text">
    <p>
        <span class="bold-text">Skills:</span>  Embedded Software, Automation Scripting, Web Development, Compilers, Networks,
        Software Testing, Algorithms, OOP, Agile Development
    </p>

<br>
<p>
    <span class="bold-text">Languages:</span>  C/C++, Python, JavaScript, TypeScript, HTML/CSS
</p>
    
<br>
<p>
    <span class="bold-text">Frameworks and Tools:</span>  Git, GDB, Angular, Django, ASP.NET Core, Node.js, MySQL, Excel
</p>
    
<br>
    <p>
        <span class="bold-text">Hobbies and interests:</span>  Running, Gym, Dragonboating, Video Games
    </p>
<br>
<br>
<br>
</div>
<p>
    

    <span class="section-title mb-4">Courses</span>
</p>
<div class="box-container">
    <div class="box mb-5 pb-4 left-text">
        <ul>
            <li class="bold-text">Software Engineering Courses</li>
            <li>ECE351 Compilers</li>
            <li>STAT341 Computational Statistics and Data Analysis</li>
            <li>BME122 Data Structures and Algorithms</li>
            <li>ECE457A Cooperative and Adaptive Algorithms</li>
            <li>ECE457B Computational Intelligence</li>
            <li>MTE241 Real Time Operating Systems</li>
            <li>MTE325 Microprocessor Systems and Interfacing</li>
        </ul>
    </div>
    <div class="box mb-5 pb-4 left-text">
        <ul>
            <li class="bold-text">Mechanical/Controls Courses</li>
            <li>MTE360 Automatic Control Systems</li>
            <li>ECE484 Digital Controls</li>
            <li>ME351 Fluid Mechanics</li>
            <li>MTE309 Thermodynamics and Heat Transfer</li>
            <li>MTE320 Acutators and Power Electronics</li>
            <li>MTE322 Electromechanical Machine Design</li>
            <li>ME321 Kinematics and Dynamics of Machines</li>
        </ul>
    </div>
   
</div>