.group{
    font-weight:bold;
    text-decoration: underline;
}
.bold-text{
    font-weight: bold;
}
.left-text{
    text-align:left;
}
.box-container{
    text-align:left;
    display: flex;
    align-items: flex-start;

}

.box{
    width:450px;
}

.bold-text{
    font-weight: bold;
}